@model IEnumerable<Game>
@{
    ViewData["Title"] = "All games";
}

@functions {
    string ShortDescription(string description)
    {        
        if (description == null || description.Length < 1) return "";

        int sentenceEnd = description.IndexOf('.');
        if (sentenceEnd == -1) return description;

        description = description.Substring(0, sentenceEnd+1);

        if (description.Length < 150) return description;

        return description.Substring(0, 150) + "...";
    }
}

<p>
    Can't find a game you're looking for? <b>@Html.ActionLink("Add one", "manage")</b>
    @if (!ViewBag.LoggedIn)
    {
        <span>(Login required)</span>
    }
</p> 

<div id="games">
    @foreach (var game in Model)
    {
        <div class="card game">            

            <div class="card-body game-points d-flex flex-row justify-content-left">

                <a href="~/game/@game.Alias">
                    <img class="game-image" src="@($"/data/games/{game.Alias}/image.png")" />
                </a>

                <div class="game-text">
                    <h4><a href="~/game/@game.Alias" title="@game.NameLocalized">@game.Name</a></h4>
                    <p style="color:gray;">@game.ReleaseDate</p>
                    <p class="game-description">@ShortDescription(game.Description)</p>
                </div>

                <div class="game-point d-flex flex-column" style="/*! flex: 2; *//*! justify-content: normal; */justify-self: right;margin: 0 0 0 auto;">

                    <div class="game-icon flex-row">
                        <img class="icon-small" src="/icons/chess.png" title="Players" />
                        <div><b>Players:</b> @game.PlayersMin - @game.PlayersMax</div>
                    </div>
                    <div class="game-icon flex-row">
                        <img class="icon-small" src="/icons/user-restrict.png" title="Min. age" />
                        <div><b>Min. age:</b> @game.AgeMin+</div>
                    </div>
                    <div class="game-icon flex-row">
                        <img class="icon-small" src="/icons/time.png" title="Game duration" />
                        <div><b>Time:</b> @game.DurationMin - @game.DurationMax</div>
                    </div>

                </div> 

            </div>
        </div>
    }
</div>