@model IEnumerable<Game>
@{
    ViewData["Title"] = "All games";
}

@functions {
    string ShortDescription(string description)
    {        
        if (description == null || description.Length < 1) return "";

        int sentenceEnd = description.IndexOf('.');
        if (sentenceEnd == -1) return description;

        description = description.Substring(0, sentenceEnd+1);

        if (description.Length < 150) return description;

        return description.Substring(0, 150) + "...";
    }
}

<p>
    Can't find a game you're looking for? <b>@Html.ActionLink("Add one", "manage")</b>
    @if (!ViewBag.LoggedIn)
    {
        <span>(Login required)</span>
    }
</p> 

<div id="entities">
    @foreach (var entity in Model)
    {
        <div class="card entity">            

            <div class="card-body d-flex flex-row justify-content-left">

                <a href="~/game/@entity.Alias">
                    <img class="entity-image" src="@($"/data/games/{entity.Alias}/image.png")" />
                </a>

                <div class="entity-text">
                    <h4><a href="~/game/@entity.Alias" title="@entity.NameLocalized">@entity.Name</a></h4>
                    <p style="color:gray;">@entity.ReleaseDate</p>
                    <p class="entity-description">@ShortDescription(entity.Description)</p>
                </div>

                <div class="icon-set d-flex flex-column">

                    <div class="game-icon flex-row">
                        <img class="icon" src="/images/icons/chess.png" title="Players" />
                        <div><b>Players:</b> @entity.PlayersMin - @entity.PlayersMax</div>
                    </div>
                    <div class="game-icon flex-row">
                        <img class="icon" src="/images/icons/user-restrict.png" title="Min. age" />
                        <div><b>Min. age:</b> @entity.AgeMin+</div>
                    </div>
                    <div class="game-icon flex-row">
                        <img class="icon" src="/images/icons/time.png" title="Game duration" />
                        <div><b>Time:</b> @entity.DurationMin - @entity.DurationMax</div>
                    </div>

                </div> 

            </div>
        </div>
    }
</div>