@model IEnumerable<Game>
@{
    ViewData["Title"] = "All games | Gamescore";
}

@functions{

    //public string GetImage(byte[]? image)
    //{

    //}

}

<h1>@ViewData["Title"]</h1>

<p>
    Can't find a game you're looking for? <b><a href="~/games/add">Add one</a></b>
</p>

<div id="games">
    @foreach (var game in Model)
    {
        <div class="card game">

            <div class="card-header game-points d-flex flex-row justify-content-between">

                <div>
                    <div><h3><a href="~/game/@game.Alias">@game.Name</a> (@game.ReleaseDate)</h3></div>
                    <div><p style="color:gray;">@game.NameLocalized</p></div>
                </div>

                <div class="game-point d-flex flex-column">

                    <div class="game-icon flex-row">
                        <img class="icon-small" src="/icons/chess.png" title="Players" />
                        <div>@game.PlayersMin - @game.PlayersMax</div>
                    </div>
                    <div class="game-icon flex-row">
                        <img class="icon-small" src="/icons/user-restrict.png" title="Min. age" />
                        <div>@game.AgeMin+</div>
                    </div>
                    <div class="game-icon flex-row">
                        <img class="icon-small" src="/icons/time.png" title="Game duration" />
                        <div>@game.DurationMin - @game.DurationMax</div>
                    </div>

                </div>
            </div>

            <div class="card-body game-desc d-flex flex-column">
                <div class="d-flex flex-row">
                    <img class="game-image" src="@($"/data/games/{game.Alias}/image.png")" />
                    <p>
                        @game.Description
                    </p>
                </div>
                <div>
                    @*Rating*@
                    @*<div class="rating">
                        @for (int i = 0; i < 10; i++)
                        {
                            <img class="icon-small icon-star" src="/icons/star.png" star-index="@i" game-alias="@game.Alias" />
                        }
                    </div>*@
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
 <script>

     $( ".icon-star" ).hover(
        function() {

            let game = $( this ).attr( "game-alias" );
            let curIndex = $( this ).attr( "star-index" );

            $( ".icon-star[game-alias='".concat(game, "']") ).each(function( index ) {
                if (index <= curIndex) {
                    $(this).addClass('is-active');
                }
            });

        }, 
        function() {

            $( ".icon-star" ).each(function( index ) {
                $(this).removeClass('is-active');
            });

        }
    );

    //function Test() {
    //    $("#icon-star").toggleClass('is-active');
    //}

 </script>
} 
