@model MatchViewModel
@{
    ViewData["Title"] = "Add match";
}

<div id="app">
    <form>          

        <div id="match-content" class="d-flex flex-column p-3">

            <!-- Main info section -->
            <div id="main-info" class="d-flex flex-row me-5">

                <!-- Image [1] -->
                <div>
                    <a href="/game/@Model.GameAlias" title="Return to game page">
                        <img class="game-image" src="@($"/data/games/{Model.GameAlias}/image.png")" />
                    </a>
                </div>

                <!-- Match info [2] -->
                <div id="match-data" class="d-flex flex-column">
                    <div class="form-group">
                        <label for="match-date">Date</label>
                        <input type="date" class="form-control" id="match-date"
                            :value="convertDate(match.date)"
                            v-on:input="match.date = $event.target.valueAsDate"
                        >
                    </div>

                    <div class="form-group">
                        <label for="match-place">Place</label>
                        <input type="text" class="form-control" id="match-place" v-model="match.place">
                    </div>

                    <div class="form-group">
                        <label for="match-duration">Duration (minutes)</label>
                        <input type="number" class="form-control" id="match-duration" v-model="match.duration">
                        <small>{{calcDuration}}</small>
                    </div>
                            
                </div>

                <!-- Comment area [3] -->
                <div id="group-text" class="form-group">
                    <label for="commentArea" class="control-label">Comment</label>
                    <textarea class="form-control" id="commentArea" rows="7" v-model="match.comment"></textarea>
                </div>  

            </div>

            <hr>

            <!-- Players section -->
            <div id="match-players">

                <h3>Players</h3>

                <!-- Detailed view switch -->
                <div class="form-check form-switch mb-4">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchView" v-model="enableDetailedView">
                    <label class="form-check-label" for="switchView">Detailed view</label>
                </div>                

                <!-- Views for players -->
                <transition name="fade" mode="out-in">
                    <div v-if="!enableDetailedView" key="playerView">
                                
                        <template v-for="player in match.players">
                            <p class="player-toggle" v-on:click="() => togglePlayer(player.userName, player.registered)">
                                <b>{{player.userName}}</b> 
                                <span v-if="!player.registered">(non-user)</span> 
                            </p>
                        </template>

                    </div>
                    <div v-else key="detailedView" class="d-flex flex-row">

                        <template v-for="(player, index) in match.players">
                            <div class="m-1">
                                <p class="player-toggle" v-on:click="() => togglePlayer(player.userName, player.registered)">
                                    <b>{{player.userName}}</b> 
                                    <span v-if="!player.registered">(non-user)</span> 
                                </p>
                                <div class="form-group">
                                    <label :for="'player-team-' + index">Team</label>
                                    <input type="text" class="form-control" :id="'player-team-' + index" v-model="player.team">
                                </div>
                                <div class="form-group">
                                    <label :for="'player-points-' + index">Score</label>
                                    <input type="number" class="form-control" :id="'player-points-' + index" v-model="player.points">
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" role="checkbox" :id="'player-winner-' + index" v-model="player.isWinner">
                                    <label class="form-check-label" :for="'player-winner-' + index">Won?</label>
                                </div>
                            </div>
                        </template>

                    </div>
                </transition>

            </div>

            <div class="form-group mt-2">

                <transition name="fade" mode="out-in">
                    <div v-if="match.players.length < 1" key="noPlayers">
                        <p><small>Add players using the search tab first</small></p>
                    </div>
                    <div v-else-if="submitStatus == 'success'" key="submitted">
                        <p>Match was successfully added. Redirecting to game page...</p>
                    </div>
                    <input v-else key="hasPlayers" class="btn btn-primary" type="button" value="Submit"
                        v-on:click="submitMatch" :disabled="match.players.length < 1">
                </transition>
                
            </div>

            <hr>

            <!-- Search section -->
            <div id="match-search">
                <h3>Search</h3>
                <input class="form-control" type="search" v-model="search.user" placeholder="Search player or add player name" style="width:16rem;">

                <div id="search-users">
                    <p class="player-toggle" v-if="search.user.length > 0" v-on:click="() => togglePlayer(search.user, false)">"{{search.user}}" (non-user player)</p>
                    <template v-for="found in search.usersFound">
                        <p class="player-toggle" v-on:click="() => togglePlayer(found, true)">{{found}}</p>
                    </template>
                </div>
            </div>

        </div>
    </form>

    <div id="submitModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                Match was succesfully added! Redirecting to game page...
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            enableDetailedView: true,
            submitStatus: 'none',
            search: {
                user: '',
                usersFound: [],
                timeout: null
            },        
            match: {
                gameAlias: '@Model.GameAlias',
                date: new Date(),
                place: '',
                duration: 0,
                comment: '',
                players: []
            }
        },
        mounted: function () {

        },
        watch: {
            'search.user': function (newInput) {
                this.getSearchResults(newInput);
            }
        },
        computed: {
            calcDuration: function(){
                let timeHours = Math.floor(this.match.duration / 60);
                let timeMinutes = this.match.duration - timeHours * 60;
                return `~ ${timeHours} hours, ${timeMinutes} minutes`;
            }
        },
        methods: {
            convertDate: function(d) {
    	        return d && new Date(d.getTime()-(d.getTimezoneOffset()*60*1000)).toISOString().split('T')[0]
            },

            // currently gets users but players are also needed
            getSearchResults: function (searchQuery) {
                let self = this;                              
	            
	            const searchFunc = () => {
                    fetch('@Url.Action("GetSearchUsers", "Games")?'
                    + new URLSearchParams({
                        search: searchQuery
                        })
                    )
		            .then(response => response.json())
		            .then(data => self.search.usersFound = data);
                }

                clearTimeout(self.search.timeout);  
                self.search.timeout = setTimeout(searchFunc, 300)
            },

            togglePlayer: function(name, registered) {
                let addedIndex = this.match.players.findIndex(
                    p => p.userName == name && 
                    p.registered == registered
                );

                if (addedIndex == -1) {
                    let player = {
                        userName: name,
                        registered: registered,
                        team: '',
                        points: 0,
                        isWinner: false
                    };
                    this.match.players.push(player);
                } else {
                    this.match.players.splice(addedIndex, 1);
                }
            },

            submitMatch: function () {

                let self = this;
                fetch('@Url.Action("SubmitMatch", "Games")', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(self.match),
                })
                .then(response => response.json())
                .then(data => {
                    if (data) console.log('success?');

                    self.submitStatus = 'success';

                    self.search.timeout = setTimeout(() => {
                        window.location = '@Url.Action("GameProfile", "Games", new { alias = Model.GameAlias })';
                    }, 2500)
                    
                })
            }
        }
    })
</script>

