@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "All users";
}

@* There goes the search bar *@

<div id="games">
    @foreach (var user in Model)
    {
        <div class="card game">

            <div class="card-header game-points d-flex flex-row justify-content-between">

                <div>
                    <div><h3><a href="~/user/@user.UserName">@user.UserName</a></h3></div>
@*                    <div><p style="color:gray;">@game.NameLocalized</p></div>*@
                </div>

                <div class="game-point d-flex flex-column">

@*                    <div class="game-icon flex-row">
                        <img class="icon-small" src="/icons/chess.png" title="Players" />
                        <div>@game.PlayersMin - @game.PlayersMax</div>
                    </div>
                    <div class="game-icon flex-row">
                        <img class="icon-small" src="/icons/user-restrict.png" title="Min. age" />
                        <div>@game.AgeMin+</div>
                    </div>
                    <div class="game-icon flex-row">
                        <img class="icon-small" src="/icons/time.png" title="Game duration" />
                        <div>@game.DurationMin - @game.DurationMax</div>
                    </div>*@

                </div>
            </div>

@*            <div class="card-body game-desc d-flex flex-column">
                <div class="d-flex flex-row">
                    <img class="game-image" src="https://s.tesera.ru/images/items/635932/200x200xpa/photo1.jpg" />
                    <p>
                        
                    </p>
                </div>
                <div>
                    <div class="rating">
                        @for (int i = 0; i < 10; i++)
                        {
                            <img class="icon-small icon-star" src="/icons/star.png" star-index="@i" game-alias="@game.Alias" />
                        }
                    </div>
                </div>
            </div>*@

        </div>
    }
</div>

@section Scripts
{
 <script>

 </script>
} 
