@model UserProfileViewModel
@{
    ViewData["Title"] = $"User: {Model.User.UserName} | Gamescore";
}

<div id="profile">

    @if (Model.IsMe)
    {
        <p>
            <b><a asp-area="Identity" asp-page="/Account/Manage/Index" >Account settings</a></b>
        </p>
    }

    <div id="info" class="d-flex flex-row">
        <div class="card user">

            <div class="card-header">

                <div><h3>@Model.User.UserName</h3></div>

            </div>

            <div class="card-body d-flex flex-column">

                <div class="d-flex flex-row">                    
                    <p>
                        Всем привет
                    </p>
                </div>

                <div>

                    Test

                </div>
            </div>
        </div>

        <div class="card friends">

            <div class="card-header">

                <div><h3>Friends</h3></div>
                @if (Model.LoggedIn && !Model.IsMe)
                {

                    if (Model.Friendship == null)
                    {
                        <input type="button" class="btn btn-primary" value="Add as friend" onclick="location.href='@Url.Action("AddFriend", "user", new { username = Model.User.UserName })'" />
                    }    
                    else if (Model.Friendship.Value.status == FriendStatus.Pending && !Model.Friendship.Value.received)
                    {
                        <p>You requested</p>

                    } else if (Model.Friendship.Value.status == FriendStatus.Pending && Model.Friendship.Value.received)
                    {
                        <input type="button" class="btn btn-primary" value="Accept" onclick="location.href='@Url.Action("AcceptFriend", "user", new { username = Model.User.UserName })'" />
                        <input type="button" class="btn btn-danger" value="Decline" onclick="location.href='@Url.Action("AcceptFriend", "user", new { username = Model.User.UserName })'" />
                    } 
                }
                else
                {
                    
                }
            </div>

            <div class="card-body d-flex flex-column">

                <div class="d-flex flex-table">    
                    <p>
                        REQUESTS:
                        
                    </p>
                    <p>
                        Your friends
                    </p>
                </div>

            </div>
        </div>
        
    </div>

    <hr />
        
    <h3>Collection
    @if (Model.IsMe)
    {
        <button id="addGame" class="btn btn-secondary btn-sm" onclick="toggleModal()">+</button>
    }
    </h3>

    <div class="profile-games">
        <p>RATED: @Model.User.GamesFavorited.Count</p>
        @foreach (var game in Model.User.GamesFavorited)
        {
            <p>* @game.Name</p>
        }
    </div>    
    
</div>

@Html.Partial("AddToCollection", new UserGameViewModel())

@section Scripts
{
 <script>

     //$( "#addGame" ).click(function() {
     //   alert( "Handler for .click() called." );
     //});

     function toggleModal() {
         $('.modal').toggle();
     }

 </script>
} 
