@using Microsoft.AspNetCore.Html
@model UserProfileViewModel
@{
    ViewData["Title"] = $"User: {Model.User.UserName}";
}

@functions {
    public static string LastLoginDisplay(DateTime? date)
    {
        if (date == null) return "?";
        var diff = DateTime.Now.Subtract(date.Value);

        if (diff.Hours < 1) return "less than a hour ago";

        string output = $"{diff.Hours} hours ago";
        if (diff.Days > 0) output.Insert(0, $"{diff.Days} days, ");

        return output;
    }
}

<div id="profile">

    @if (Model.IsMe)
    {
        <p>
            <b><a asp-area="Identity" asp-page="/Account/Manage/Index" >Account settings</a></b>
        </p>
    }

    <div id="info" class="d-flex flex-row">
        <div class="card user">

            <div class="card-header">

                <div><h3>@Model.User.UserName</h3></div>

            </div>

            <div class="card-body d-flex flex-column">

                <div class="d-flex flex-column">                    
                    <p>Name: @Html.DisplayFor(m => m.User.FullName)</p>
                    <p>Gender: @Html.DisplayFor(m => m.User.Gender)</p>
                    <p>Last login: @LastLoginDisplay(Model.User.LastLoginTime)</p>
                </div>
            </div>
        </div>

        <div class="card friends">

            <div class="card-header">

                <div><h3>Friends</h3></div>
                @if (Model.LoggedIn && !Model.IsMe)
                {

                    if (Model.Friendship == null)
                    {
                        <input type="button" class="btn btn-primary" value="Add as friend" 
                            onclick="location.href='@Url.Action("ManageFriend", "user", 
                            new { username = Model.User.UserName, requestAction = "add" })'" 
                        />
                    }    
                    else if (Model.Friendship.Value.status == FriendStatus.Pending && !Model.Friendship.Value.received)
                    {
                        <p>You requested</p>

                    } else if (Model.Friendship.Value.status == FriendStatus.Pending && Model.Friendship.Value.received)
                    {
                        <input type="button" class="btn btn-primary" value="Accept" 
                            onclick="location.href='@Url.Action("ManageFriend", "user",
                            new { username = Model.User.UserName, requestAction = "accept" })'" 
                        />
                        <input type="button" class="btn btn-danger" value="Decline" 
                            onclick="location.href='@Url.Action("ManageFriend", "user", 
                            new { username = Model.User.UserName, requestAction = "decline" })'" 
                        />
                    } 
                }
                else
                {
                    
                }
            </div>

            <div class="card-body d-flex flex-column">
@*                <p>
                    REQUESTS:                        
                </p>*@
                    @foreach (var friend in @Model.Friends)
                    {
                        <p>
                        <a href="~/user/@friend.UserName">@friend.UserName</a> 
                        </p>
                    }                    
            </div>
        </div>
        
    </div>

    <hr />
        
    <h3>Collection
    @if (Model.IsMe)
    {
        <button id="addGame" class="btn btn-secondary btn-sm" onclick="toggleModal()">+</button>
    }
    </h3>

    <div class="profile-games">
        <p>Games in collection: @Model.User.GamesFavorited.Count</p>
        <p>Games rated: @Model.User.GamesRated.Count</p>
        @foreach (var game in Model.User.GamesFavorited)
        {
            <p>* @game.Name</p>
        }
    </div>    
    
</div>

@Html.Partial("AddToCollection", new UserGameViewModel())

@section Scripts
{
 <script>

     //$( "#addGame" ).click(function() {
     //   alert( "Handler for .click() called." );
     //});

     function toggleModal() {
         $('.modal').toggle();
     }

 </script>
} 
